// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.headerlink:link
{
	text-decoration: none;
	color: white;
	
}
a.headerlink:active
{
	text-decoration: none;
	color: white;
	
}
a.headerlink:visited
{
	text-decoration: none;
	color: white;
}
a.headerlink:hover
{
	text-decoration: none;
	color: white;
}
#header
{
	font-family: 'Archivo Black', sans-serif;
	font-size: 18px;
	text-align: top;
	color: white;
	background-color: black;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

#footer
{
	color: white;
	background-color: black;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}
	
#card-name
{

	font-size: 12px;
	color: black;
}